<%= form_with(model: bark) do |form| %>
  <% if bark.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bark.errors.count, "error") %> prohibited this bark from being saved:</h2>

      <ul>
        <% bark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :bark, style: "display: block" %>
    <%= form.text_area :bark %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
